@charset "UTF-8";

body {
    background-color: #172026;
    height: 1000px;
            
}

h1 {
    color: rgba(140, 154, 164, 0.749);
    text-align: center;
    font-family: sans-serif;
}

p {
        color: rgba(255, 255, 255, 0.824);
}
